<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.png" />
    <title>Illini Marketplace</title>

    <!-- Custom Styling -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body ng-app="illiniMarketplace" ng-controller="MainCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><img src="images/logo2.png" alt="Logo" style="width:330px;height:30px;margin-top:-10px;"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <form class="navbar-form" style="float:left;">
            <div class="form-group">
              <input type="text" ng-model="searchQuery" style="width:300px;" placeholder="Title, Author, ISBN, Courses, ..." class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <button class="btn btn-info" style="float:left;margin-top:8px;margin-left:-10px;" data-toggle="modal" data-target="#sellModal">Sell</button>
          <a href="#" style="float:left;margin-top:15px;font-size:20px;margin-left:5px;" data-toggle="modal" data-target="#cartModal">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="badge" style="margin-top:-8px;">{{ shoppingCart.length }}</span>
          </a>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Sell Books Modal -->
    <div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sell your Book!</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" ng-show="sellError" role="alert">{{sellError}}</div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Image File URL:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="sellBook.thumbnail" value="" placeholder="Paste the URL for the image online">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Contact Email:</label>
            <div class="col-lg-3">
              <input class="form-control" type="text" ng-model="sellBook.sellerEmail" style="float:left;" placeholder="NetID" value="">
            </div>
            <p style="margin-top:5px;font-size:16px;">@illinois.edu</p>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Title:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="sellBook.title" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Authors:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="sellBook.author" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Courses:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" ng-model="sellBook.courses" placeholder="Enter the relevant courses. Comma Separated.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">ISBN:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="sellBook.isbn" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Edition:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="sellBook.edition" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Condition:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="book-condition" class="form-control">
                  <option value="New" ng-model="sellBook.condition">New</option>
                  <option value="Like New" ng-model="sellBook.condition">Like New</option>
                  <option value="Poor" ng-model="sellBook.condition">Poor</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Format:</label>
            <div class="col-lg-8">
                <label>
                  <input type="radio" value="Hardcover" ng-model="sellBook.format"> Hardcover
                </label><br>
                <label>
                  <input type="radio" value="Paperback" ng-model="sellBook.format"> Paperback
                </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Price:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" ng-model="sellBook.price">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Other descriptions:</label>
            <div class="col-lg-8">
              <textarea class="form-control" rows="3" ng-model="sellBook.description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button ng-click="sellBook()" data-dismiss="modal" class="btn btn-primary">Sell!</button>
              <span></span>
              <input type="reset" class="btn btn-default" data-dismiss="modal" value="Cancel">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    <!-- Cart Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Shopping Cart</h4>
          </div>
          <div class="modal-body">
            <div ng-hide="shoppingCart.length > 0">You Have No Items in Your Cart!</div>
            <table ng-show="shoppingCart.length > 0" class="table table-striped">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Seller Contact</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="book in shoppingCart">
                  <td>
                    <img ng-src="{{ book.thumbnail }}" style="width:85px"/>
                    <h5>{{ book.title }}</h5>
                    <small>{{ book.author }}</small>
                  </td>
                  <td><h5>${{ book.price }}</h5></td>
                  <td><h5>{{ book.sellerEmail }}</td>
                  <td><button type="button" class="btn btn-danger" ng-click="removeFromCart(book)">Delete</button></td>
                </tr>
              </tbody>
            </table><!-- /container -->
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="width:100%;height:50px;"></div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <!-- Filters Section -->
        <div class="col-md-2" style="border-right:1px solid #ccc;border-left:1px solid #ccc;position:fixed;height:725px;">
          <div style="height:50px;width:100%;padding-top:1px;">
            <h2 style="float:left;">Filters</h2>
            <button style="float:left;margin-top:20px;margin-left:10px;font-size:12pt;" ng-click="clearFilters()" type="button" class="btn btn-link">Clear Filters</button><br>
          </div>

          <div style="border-bottom:1px solid #eee;">
            <h3>Condition:</h3>
            <form>
              <div class="form-group" style="margin-left:15px;">
                <label>
                  <input type="radio" name="New" value="New" ng-model="filt.condition"> New
                </label><br>
                <label>
                  <input type="radio" value="Like New" ng-model="filt.condition"> Like New
                </label><br>
                <label>
                  <input type="radio" value="Poor" ng-model="filt.condition"> Poor
                </label>
              </div>
            </form>
          </div>

          <div style="border-bottom:1px solid #eee;">
            <h3>Price Range:</h3>
            <form style="margin-left:15px;">
              <span style="float:left;margin-top:8px;">$</span>
              <input type="number" style="width:70px;float:left;margin-left:2px;" placeholder="min" class="form-control" name="priceMin" ng-model="minPrice">
              <span style="float:left;margin-left:5px;margin-top:8px;"> - $</span>
              <input type="number" style="width:70px;margin-left:5px;" placeholder="max" class="form-control" name="priceMax" ng-model="maxPrice">
            </form>
          </div>

          <div style="border-bottom:1px solid #eee;">
            <h3>Author:</h3>
            <form style="margin-left:15px;">
              <div class="form-group">
                <input type="text" style="width:200px;" placeholder="Custom Author" class="form-control" ng-model="filt.author">
              </div>
            </form>
          </div>

          <div>
            <h3>Format:</h3>
            <form>
              <div class="form-group" style="margin-left:15px;">
                <label>
                  <input type="radio" ng-model="filt.format" value="Hardcover"> Hardcover
                </label><br>
                <label>
                  <input type="radio" ng-model="filt.format" value="Paperback"> Paperback
                </label>
              </div>
            </form>
          </div>
        </div>

        <!-- Main Section -->
        <table class="table table-striped" style="margin-left:300px; width: 900px; ">
          <thead>
            <tr>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Format</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="book in bookListing | filter:searchQuery | filter:filt | filter:filterPrice">
              <td><img ng-src="{{ book.thumbnail }}" style="width:112px"/></td>
              <td><a ng-click="setOpenBook(book)" data-toggle="modal" data-target="#bookDetailModal">{{ book.title }}</a></br><p style="color: grey">ISBN: {{book.isbn}}</p></td>
              <td>{{ book.author }}</td>
              <td>{{ book.format }}</td>
              <td>${{ book.price }}</td>
            </tr>
          </tbody>
        </table><!-- /container -->

        <!-- Open Book Details Modal -->
        <div class="modal fade" id="bookDetailModal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{openBook.title}}</h4>
              </div>
              <div class="modal-body">
                <div class="row" style="padding-left:40px;">
                  <div class="col-md-4">
                    <img ng-src="{{ openBook.thumbnail }}" style="width:100%"/>
                    <strong>Price: ${{openBook.price}}</strong>
                  </div>
                  <div class="col-md-7">
                    <h4>{{openBook.title}}</h4>
                    <h5 style="color:grey">{{openBook.author}}</h5>
                    <h5>ISBN: <p>{{openBook.isbn}}</p></h5>
                    <h5 ng-show="openBook.edition">Edition: <p>{{openBook.edition}}</p></h5>
                    <h5>Format: <p>{{openBook.format}}</p></h5>
                    <h5>Condition: <p>{{openBook.condition}}</p></h5>
                    <h5 ng-show="openBook.courses">Courses: {{openBook.courses}}</h5>
                    <h5 ng-show="openBook.description">Description:</h5>
                    <p ng-show="openBook.description">{{openBook.description}}</p>
                  </div>
                </div><br><br>
                <div class="row" style="padding-left:55px;">
                  <p>Contact Email: {{openBook.sellerEmail}}@illinois.edu</p>
                  <small>NOTE: Only contact the seller regarding this book!</small>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" ng-hide="isInCart(openBook)" ng-click="addToCart()">Add to Cart</button>
                <button type="button" data-dismiss="modal" class="btn btn-success" disabled="disabled" ng-show="isInCart(openBook)">Already Added to Cart</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
